html { 
	position: relative;
    min-height: 100%;
}

body {
    font-family: "Open Sans", "Avenir Next", "Helvetica Neue", Helvetica, sans-serif;
    background: url(../img/pink_rice.png);
}

h3 a {
    color: #333;
}

.navbar-default .navbar-nav>li>a {
  color: #333;
}

