h1, h3, .tag {
    text-align: center;
}

#content {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

#logo{
    max-height: 4rem;
    margin-top: -0.8rem;
}

.project-box {
    height: 18rem;
    width: 18rem;
}

.project-img {
    max-width: 18rem;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

#scale {
    padding-top: 1rem;
}

.pull-right {
    margin-right: 1rem;
}

.pull-left {
    margin-left: 1rem;
}

@media only screen and (min-width: 992px) {
    .progress, .list-group, .nav-tabs {
        max-width: 60%;
    }
}