.progress-bar {
    color: #333;
    background-color: #ffd54c;
}

.list-group-item {
    background-color: #ffd54c;
}

.navbar {
    background-color: #ffd54c;
}

i {
    color: #1d3550;
}

 hr { 
    border: 0; 
    height: 1px; 
    background-image: -webkit-linear-gradient(left, #ffd54c, #FFF, #ffd54c);
    background-image: -moz-linear-gradient(left, #ffd54c, #FFF, #ffd54c);
    background-image: -ms-linear-gradient(left, #ffd54c, #FFF, #ffd54c);
    background-image: -o-linear-gradient(left, #ffd54c, #FFF, #ffd54c); 
}

.bold {
    font-weight: bold;
}

.grey-bg-hover:hover{
    background-color: #ffe387;
}