body {
	font-family: "Open Sans", "Avenir Next", "Helvetica Neue", Helvetica, sans-serif;
	background: url(../img/pink_rice.png);
}

h1, h3, .project-p {
	text-align: center;
}

h3 { 
	padding-bottom: 1em;
}

h3 a {
	color: #333;
}

