.progress-bar {
    color: #333;
    background-color: #ffd54c;
}

.list-group-item {
    background-color: #ffd54c;
}

.navbar {
    background-color: #ffd54c;
}

i {
    color: #1d3550;
}

#total {
	font-weight: bold;
}
